<nav class="mtt-merchant-navigation" aria-label="{{localize 'mtt.navigation.label'}}">
  <button
    class="mtt-merchant-navigation-tab {{#if (eq mtt.activeTab 'products')}}mtt-merchant-navigation-tab-active{{/if}}"
    type="button"
    data-action="selectTab"
    data-tab="products"
    data-tooltip="{{localize 'mtt.tabs.products'}}"
  >
    <i class="fas fa-box"></i>
  </button>

  <button
    class="mtt-merchant-navigation-tab {{#if (eq mtt.activeTab 'services')}}mtt-merchant-navigation-tab-active{{/if}}"
    type="button"
    data-action="selectTab"
    data-tab="services"
    data-tooltip="{{localize 'mtt.tabs.services'}}"
  >
    <i class="fas fa-handshake"></i>
  </button>

  <button
    class="mtt-merchant-navigation-tab {{#if (eq mtt.activeTab 'sessions')}}mtt-merchant-navigation-tab-active{{/if}}"
    type="button"
    data-action="selectTab"
    data-tab="sessions"
    data-tooltip="{{localize 'mtt.tabs.sessions'}}"
  >
    <i class="fas fa-basket-shopping"></i>
  </button>

  {{#if mtt.canConfigureMerchant}}
    <button
      class="mtt-merchant-navigation-tab {{#if (eq mtt.activeTab 'configuration')}}mtt-merchant-navigation-tab-active{{/if}}"
      type="button"
      data-action="selectTab"
      data-tab="configuration"
      data-tooltip="{{localize 'mtt.tabs.configuration'}}"
    >
      <i class="fas fa-gear"></i>
    </button>
  {{/if}}
</nav>