<header class="mtt-merchant-header">
  <div class="mtt-merchant-identity">
    <div class="mtt-merchant-image-container">
      <img
        class="mtt-merchant-image {{#if mtt.isUnlocked}}mtt-merchant-image-editable{{/if}}"
        src="{{actor.img}}"
        data-tooltip="{{actor.name}}"
        {{#if mtt.isUnlocked}}
          data-edit="img"
        {{/if}}
      />
    </div>

    <div class="mtt-merchant-title-block">
      {{#if mtt.isUnlocked}}
        <input
          class="mtt-merchant-name-input"
          name="name"
          type="text"
          value="{{actor.name}}"
          placeholder="{{localize 'mtt.merchant.name.placeholder'}}"
          spellcheck="false"
        />
      {{else}}
        <h1 class="mtt-merchant-name">{{actor.name}}</h1>
      {{/if}}

      <div class="mtt-merchant-state-row">
        <button
          class="mtt-merchant-lock-button"
          type="button"
          data-action="toggleLock"
          data-tooltip="{{#if mtt.isLocked}}{{localize 'mtt.sheet.unlock'}}{{else}}{{localize 'mtt.sheet.lock'}}{{/if}}"
        >
          {{#if mtt.isLocked}}
            <i class="fas fa-lock"></i>
          {{else}}
            <i class="fas fa-lock-open"></i>
          {{/if}}
        </button>

        <button
          class="mtt-merchant-open-button"
          type="button"
          data-action="toggleOpen"
          {{#unless mtt.canEditMerchant}}disabled{{/unless}}
          data-tooltip="{{#if system.status.isOpen}}{{localize 'mtt.sheet.closeMerchant'}}{{else}}{{localize 'mtt.sheet.openMerchant'}}{{/if}}"
        >
          {{#if system.status.isOpen}}
            <i class="fas fa-door-open"></i>
          {{else}}
            <i class="fas fa-door-closed"></i>
          {{/if}}
        </button>
      </div>
    </div>
  </div>

  
</header>